* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.bg-primary {
    background-color: #ff8400!important;
}
header {
    display: block;
    background-image: linear-gradient(rgba(255,132,0, 0.65), rgba(20, 88, 255, 0.25)),url('../img/two-women-with-laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 35vh;
    color: #fff;
}
.btn-outline-primary {
    color: #8400ff;
    border-color: #8400ff;
}
.btn-outline-primary:hover {
    background-color: #8400ff;
}
.btn-primary {
    background-color: #ff8400;
    border-color: #ff8400;
}
.btn-primary:hover {
    background-color: #8400ff;
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
#landing-section {
    background-color: #eee;
    padding: 40px;
}
.img-fluid {
    height: 300px;
    width: 100%;
}

.footer {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative;
    bottom: 0;
}
.footer-login {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
}
